.SideMenu{
    display: flex;
    position: fixed;
    top: 100px;
    left: 0;
    flex-direction: column;
    width: 250px;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

ul{
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

li{
    border: 1px solid black;
    margin: 30px auto;
    cursor: pointer;
    border-radius: 20px;
    padding: 14px;
}
