.LikesPage{
    padding: 10px 20px;
}

#LikeIcon{
    filter: brightness(0) invert(0);
}

.GridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 20px;
}