.search-container{
    margin-top: 105px;
    padding: 10px 20px;
}

.searchTitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.search-results {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px;
}