.Feed {
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.FeedList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
}

.MainHeadings {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.MainHeadingIcon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.MainHeadingTitle {
    margin: 0;
    font-size: 28px;
}